/* .navbar{background-color: white;
}

.navbar>li{
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
    background-color: white;
}
class="nav navbar-nav navbar-right"
    text-decoration: none;
    color: black
}

.navbar-right{background-color: white;
    }

.navbar-right>ul>li{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
    background-color: white;
 */